{{customHTML "top"}}

<div class="container">
  <h1 style="margin: 30px 0px 30px;">Contribute to the /1net Conversation</h2>
  <p>/1net is hosting an open, global online forum about Internet governance. Together, we can develop a framework that will help grow and strengthen our interconnected world in the public interest.</p>
  <p>Coming out of the <a href="http://www.intgovforum.org/cms/">Internet Governance Forum</a> in Bali, the /1net discussion was started with the creation of the 'i-coordination@nro.net' email list. There were 27 subscribers to this list when the first message was sent by <a href="https://twitter.com/adielakplogan">Adiel Akplogan</a> on October 26, 2013. The objectives evolved into an "open, global online discussion about Internet governance," under a platform named /1net. The original mailing list</a> transitioned to 'discuss@1net.org' on December 19, 2013. By December 31st, the discuss@1net.org mailing list had 566 subscribers. The archives for the <a href="https://nro.net/pipermail/i-coordination/">original mailing list</a> and <a href="http://1net-mail.1net.org/pipermail/discuss/">subsequent mailing list</a> are publicly available for consultation.</p>
  <p style="margin-bottom: 50px;">Both mailing lists are now closed for posting and subscription, and the discussion has since evolved to an online discussion forum here on <a href="http://1net.org">1net.org</a>. Members can track and contribute to the conversation online, over email, and receive updates abut the topics they care about most.</p>
</div>

<div class='list-controls'>
  <div class="container">
    {{outlet navigation-bar}}
  </div>
</div>

<div {{bind-attr class="loading::hidden"}}>
  <div class='spinner'>{{i18n loading}}</div>
</div>

<div {{bind-attr class=":container :list-container loading:hidden"}}>
  <div class="row">
    <div class="full-width">
      <div id='list-area'>
        {{outlet list-container}}
      </div>
    </div>
  </div>
</div>

